.card {
    /* max-width: 230px; */
    background-color: white;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    padding: 1rem;

    & .card-title {
        position: relative;
        display: flex;
        justify-content: space-between;

        & > h4 {
            margin: 0;
        }

        & img {
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

    }
}
